In [1]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic as GD

In [2]:
file = pd.read_csv('nyc_taxi_trip_duration.csv')

In [3]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729322 entries, 0 to 729321
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  729322 non-null  object
 1   vendor_id           729322 non-null  int64
 2   pickup_datetime     729322 non-null  object
 3   dropoff_datetime    729322 non-null  object
 4   passenger_count     729322 non-null  int64
 5   pickup_longitude    729322 non-null  float64
 6   pickup_latitude     729322 non-null  float64
 7   dropoff_longitude   729322 non-null  float64
 8   dropoff_latitude    729322 non-null  float64
 9   store_and_fwd_flag  729322 non-null  object
 10  trip_duration       729322 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 61.2+ MB

In [4]:
distance = []
for i in range(len(file)):
    st = file.iloc[i]
    distance.append(GD((st['pickup_latitude'], st['pickup_longitude']), (st['dropoff_latitude'], st['dropoff_longitude'])).km)

In [5]:
distance[:20]

[1.1997699136961533,
 4.123945167669728,
 7.250435807469041,
 2.3582865466279324,
 4.3281552681982225,
 3.115641569557921,
 1.1457747835368128,
 7.78293226856343,
 9.065917463362995,
 6.130795962926081,
 1.739030319709921,
 2.384587929679344,
 0.6785014920231079,
 1.7204003767202538,
 2.672815024706933,
 5.459815617659671,
 3.454855514671176,
 4.201517421511715,
 4.340824667868399,
 5.019087861080835]

In [6]:
file['distance'] = distance

In [7]:
file.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,distance
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400,1.199770
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100,4.123945
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635,7.250436
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141,2.358287
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848,4.328155

In [8]:
file.to_csv('file_extended.csv', index=False)